<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem-vindo a área do administrador</h1>
  <p class="lead">Selecione a área que você deseja administrar: </p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/admin/departamentos" role="button">Departamentos</a>
  <a class="btn btn-primary btn-lg m-1" href="/admin/colaboradores" role="button">Colaboradores</a>
  <a class="btn btn-primary btn-lg m-1" href="/admin/userslist" role="button">Usuários</a>
</div>