<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem-vindo ao site da EmpresaX</h1>
  <p class="lead">Aqui você poderá gerenciar os colaboradores de sua empresa.</p>
  <hr class="my-4">
  <p>Faça login ou registre-se para ter acesso aos nossos recursos.</p>
  <a class="btn btn-primary btn-lg" href="user/login" role="button">Login</a>
</div>