<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem-vindo ao sistema de RH da EmpresaX</h1>
  <p class="lead">Selecione a área que deseja consultar: </p>
  <hr class="my-4">
  {{!-- <p>Faça login ou registre-se para ter acesso aos nossos recursos.</p> --}}
  <a class="btn btn-primary btn-lg" href="/user/departamentos" role="button">Departamentos</a>
  <a class="btn btn-primary btn-lg m-1" href="/user/colaboradores" role="button">Colaboradores</a>
</div>